  
     
 /*ESTILO FOOTER */
 
 
 
.ss {border-bottom: 1px dotted #000;
    border-top: 1px dotted #000;
    width: 100%;
    background:rgba(255, 255, 255,0.7); margin: 0px;
    }



.img-footer{width:100%; 
        height: 100%;}




.sti {padding: 20px;    
    text-align: center;}

/*------------------------------------------------------------------------------*/

